.container {
	width: 1170px;
	margin: 0 auto; 
}
.logo {
	display: flex;
	margin-right: 9px;
	margin-left: 1px;
}
.photo {
	display: flex;
	margin-right: 30px;
	float: left;
}
.header {
	padding-top: 27px;
	color: #fff;
	padding-bottom: 117px
}
.offer{
	display: flex;
	color: black;
	margin-top: 250px;
    margin-right: 198px;
    margin-left: 198px;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
}
* {
	box-sizing: border-box;
}
h1, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
h2{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 70px;
	font-weight: bolder;
	line-height: 95px;
}
h3{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	font-style: italic;
	line-height: 49px;
}
h4, h5{
	padding: 0;
	margin: 0;
	font-size: 28px;
	color: #000;
	line-height: 38px;
}
body {
	text-decoration: none;
	background: #F1F1F1;
	padding: 0;
	margin: 0;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
}
.menu {
	display: flex;
	margin-left: auto;
}
.menu li {
	margin-right: auto;
	margin-left: 47px;
}
header a {
	text-decoration: none;
	color: black;
}
d {
	color: black;
	margin-right: 80px;
}
fa {
	color: black;
	font-size: 24px;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.nav {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-family: 'Playfair display', sans-serif;
}

.big{
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 0;
}

.normal{
	font-size: 24px;
	margin-bottom: 0;
	margin-top: 0;
}

.send {
	width: 346px;
	height: 87px;
	border-radius: 117px;
	font-size: 23px;
	background-color: #1400FF;
	color: #fff;
	letter-spacing: 0.1em;
}
.texts{
	text-align: justify;
  	width: 502px;
  	height: 404px;
}

.tutor{
	margin-left: 119px;
	margin-right: 41px;

}
.point{
	display: flex;
	align-items: center;
	margin-top: 54px;
}
.skills{
	padding-bottom: 117px
}
.pro{
	display: flex;
	justify-content: space-between;
	margin-top: 96px;
}
.desc-left{
	width: 500px;
	text-align: justify;
}
.projects{
	padding-bottom: 117px
}
.contacts{
	margin-top: 61px;
	margin-bottom: 16px;
}

.tel {
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.mailto {
	font-size: 20px;
	margin-right: 20px;
	color: #000;
	text-decoration: none;
}

.feedback{
	display: flex;
	justify-content: space-between;
	margin-top: 96px;
}

.str {
	display: flex;
}

.form{
	margin-top: 67px;
	margin-left: 29px;
	width: 614px;
	height: 385px;
	padding: 0;
}
.user, .email {	
	width: 235px;
	height: 62px;
}
.fon{
	width: 500px;
	height: 62px;
}


.formInput input{
	outline: none;
	padding: 0 0 0 10px;
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
	margin-right: 27px;
	width: 293px;
	height: 61px;
}
.bigmessage input{
	outline: none;
	padding: 0 0 0 10px;
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 613px;
	height: 161px;
}
.sends {
	outline: none;
	width: 613px;
	height: 54px;
	color: #fff;
	font-weight: bold;
	background-color: #1400FF;
	font-size: 26px;
	margin-bottom: 80px;
}
.phone, .mail{
	display: flex;
}
.icon{
	padding-right: 8px;
}
.project1 img, .project2 img{
		max-width: 100%;
		height: auto;
	}
@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
	.desc-left{
		width: 42%;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}
	.photo{
		width: 97%;
	}
	.feedback{
		flex-wrap: wrap;
		margin-top: 0;
	}
	.project1, .project2{
		width: 50%;
	}
	.pro p{
		font-size: 12px;
	}
	.phone, .mail{
		margin-left: 29px;
	}
	h5{
		margin-left: 29px;
	}
	.texts{
		padding-top: 18px;
	}
	.big{
		font-size: 50px;
		margin-bottom: 0;
		margin-top: 0;
	}

	.normal{
		font-size: 24px;
		margin-bottom: 0;
		margin-top: 0;
	}
	.send{
		width: 360px;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}
	.str{
		flex-wrap: wrap;
	}
	.bigmessage input, .sends{
		width: 293px;
	}
	.form{
		margin-left: 70px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
}